<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25936139965-qlpuf8mom2ln63h776ldbqp6a75apcnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25936139965-qlpuf8mom2ln63h776ldbqp6a75apcnk</string>
	<key>API_KEY</key>
	<string>AIzaSyBo5AgtQPTWEfWk9r1g9iFtZdNA-xrKQkA</string>
	<key>GCM_SENDER_ID</key>
	<string>25936139965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuna-anarbay.habity</string>
	<key>PROJECT_ID</key>
	<string>habity-91f95</string>
	<key>STORAGE_BUCKET</key>
	<string>habity-91f95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25936139965:ios:466e254b9a1a6f739509d4</string>
	<key>DATABASE_URL</key>
	<string>https://habity-91f95.firebaseio.com</string>
</dict>
</plist>